* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: white;
    background-image: url('../image/brandon-griggs-wR11KBaB86U-unsplash\(1\).jpg');

}

.container {
    height: 100%;
    width: 100%;
    /* background-image: url('https://assets-global.website-files.com/62b59c93b2ebe747857a57d5/62b992205a0db1fe550ff727_luke-van-zyl-koH7IVuwRLw-unsplash%201.webp'); */
    background-size: cover;
    background-position: center bottom;
    z-index: 2;

}

header {
    position: absolute;
    width: 100%;
    min-height: 66px;
    background: #338D7D;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Added this line */
    z-index: 1;

}

header ul {
    position: relative;

}

header ul li {
    position: relative;
    list-style: none;
    display: inline-block;
    /* Changed from float: left to display: inline-block */

}

header ul li a {
    color: #fff;
    font-size: 20px;
    padding: 25px 30px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;

}

header ul li a:hover {
    background: #064c3f;
}

header ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #338D7D;
    display: none;
}

header ul li:hover>ul {
    display: block;
}

header ul li ul li {
    position: relative;
    width: 100%;
}

.dropdownmenu {
    display: none;
}

header ul li ul li ul {
    top: 0;
    left: 200px;
}

.show,
input {
    display: none;
}


.logout {
    width: 40px;
    height: 40px;
    margin-left: 400px;
    cursor: pointer;
}

.logout img {
    float: right;
    width: 100%;
    height: 100%;

}

@media(max-width: 1000px) {

    html,
    body {
        height: 100%;
        
        margin: 0;
    }

    header {
        padding: 10px 20px;
    }

    header nav {
        position: absolute;
        width: 100%;
        top: 66px;
        left: 0;
        background: #338D7D;
        display: none;
    }

    header.active nav {
        display: inline;
    }

    header nav ul li {
        width: 100%;
    }

    header nav ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    header ul li ul li ul {
        top: 0;
        left: 0;
    }

    nav ul li {
        display: block;
        width: 100%;
    }

    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul {
        float: none;
        border-top: none;
        position: static;
        opacity: 1;
        visibility: visible;
        display: none;
    }

    header nav ul li:hover ul {
        display: none;
    }

    nav ul li a:hover {
        box-shadow: none;
    }

    .show {
        display: block;
        color: #fff;
        font-size: 20px;
        padding: 25px 30px;
        cursor: pointer;
    }

    .show:hover {
        background: #064c3f;
    }

    .show+a {
        display: none;
    }

    [id^=btn]:checked+ul {
        display: block;
    }


    .menutoggle {
        position: relative;
        width: 40px;
        height: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menutoggle::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        transform: translateY(-12px);
        box-shadow: 0 12px #fff;
    }

    .menutoggle::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        transform: translateY(12px);
    }

    header.active .menutoggle::before {
        transform: rotate(45deg);
        box-shadow: 0 0 #fff;
    }

    header.active .menutoggle::after {
        transform: rotate(315deg);
    }
}

.header1 {
    color: #338D7D;
    font-size: 35px;
    font-weight: 400;
    position: relative;
    top: 120px;
    left: 5%;
    font-family: Kumar One;
}
.h2 {
    color: #f0f0f0;
    font-size: 30px;
    font-weight: 400;
    position: relative;
    top: 125px;
    left: 5%;
    font-family :'Times New Roman', Times, serif;
}


.textbox {
    color: #338D7D;
    font-size: 24px;
    font-family: Scope One;
    font-weight: 400;
    padding: 40px;
    width: 84%;
    height: 52%;
    background: #524f4f;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    left: 5%;
    padding: 20px;
    overflow:auto;
    margin-top: 300px;
}

.textbox-in::-webkit-scrollbar {
    width: 6px;
}

.textbox-in::-webkit-scrollbar-thumb {
    background-color: #d9d9d900;
}

.textbox-in::-webkit-scrollbar-track {
    background-color: transparent;
}

.textbox-in {
    overflow-y: auto;
    scrollbar-color: transparent;
    scrollbar-width: thin;
    scroll-margin-block-end: 10px;
    background: #D9D9D9;
    width: 90%;
    height: 80%;
    position: relative;
    top: 10%;
    left: 5%;
}


 select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
    margin-top: 125px;
    margin-left: 78px;
    margin-bottom: 10px;
    margin-right: 0px;
 }

 .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .select:hover::after {
    color: #23b499;
 }

 select2 {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
 }
 select2::-ms-expand {
    display: none;
 }
 .select2 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
   
    margin-left: 420px;
    margin-top: -57.8px;
    margin-bottom: 0px;
    margin-right: 40px;
 }

 .select2::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .select2:hover::after {
    color: #23b499; 
 }

.textbox table{
    display: none;
    border-collapse: collapse;
    position: relative;
    margin: auto;
    background-color: #4ff8d9;
    
}
.textbox table th, table td {
    border: 1px solid #0a0a0a;
    padding: 7px 17px;
}
.textbox table thead th {
    background-color: #006815;
    color: #fff; 
    border-color: 6ea1cc;
    text-transform: uppercase;

}   
.textbox table tbody td {
    color: #0a0808;
}

.textbox table tbody tr:nth-child(odd) td {
    background-color: #aeffef;
}


.textbox table tbody tr:hover td{
    background-color: #ffffa2;
    border-color: #ffff0f;
    transition: all .2s;

}

@media screen and (max-width: 585px) {
    .select2 {
        width: auto; 
        margin-left: 25px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 40px;
    }
    .select {
        width: auto;
        margin-left: 25px;
        margin-top: 125px;
        margin-bottom: 10px;
        margin-right: 40px;
    }
    .textbox{
        width: 88%;
        margin-left: 0px;
        margin-top: 380px;
        margin-bottom: 10px;
        margin-right: 0px;

    }
   

}

 