* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 900px;
    margin: 0;
    background-color: #ffffff;
}

header {
    position: absolute;
    width: 100%;
    min-height: 66px;
    background: #338D7D;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Added this line */
    z-index: 1;
}



header ul {
    position: relative;

}

header ul li {
    position: relative;
    list-style: none;
    display: inline-block;
    /* Changed from float: left to display: inline-block */

}

header ul li a {
    color: #fff;
    font-size: 20px;
    padding: 25px 30px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;

}

header ul li a:hover {
    background: #064c3f;
}

header ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #338D7D;
    display: none;
}

header ul li:hover>ul {
    display: block;
}

header ul li ul li {
    position: relative;
    width: 100%;
}

.dropdownmenu {
    display: none;
}

header ul li ul li ul {
    top: 0;
    left: 200px;
}

.show,
input {
    display: none;
}


.logout {
    width: 40px;
    height: 40px;
    margin-left: 400px;
    cursor: pointer;
}

.logout img {
    float: right;
    width: 100%;
    height: 100%;

}

@media(max-width: 1000px) {

    html,
    body {
        height: 100%;
        margin: 0;
        overflow-y: scroll;
    }

    header {
        padding: 10px 20px;
    }

    header nav {
        position: absolute;
        width: 100%;
        top: 66px;
        left: 0;
        background: #338D7D;
        display: none;
    }

    header.active nav {
        display: inline;
    }

    header nav ul li {
        width: 100%;
    }

    header nav ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    header ul li ul li ul {
        top: 0;
        left: 0;
    }

    nav ul li {
        display: block;
        width: 100%;
    }

    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul {
        float: none;
        border-top: none;
        position: static;
        opacity: 1;
        visibility: visible;
        display: none;
    }

    header nav ul li:hover ul {
        display: none;
    }

    nav ul li a:hover {
        box-shadow: none;
    }

    .show {
        display: block;
        color: #fff;
        font-size: 20px;
        padding: 25px 30px;
        cursor: pointer;
    }

    .show:hover {
        background: #064c3f;
    }

    .show+a {
        display: none;
    }

    [id^=btn]:checked+ul {
        display: block;
    }


    .menutoggle {
        position: relative;
        width: 40px;
        height: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menutoggle::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        transform: translateY(-12px);
        box-shadow: 0 12px #fff;
    }

    .menutoggle::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        transform: translateY(12px);
    }

    header.active .menutoggle::before {
        transform: rotate(45deg);
        box-shadow: 0 0 #fff;
    }

    header.active .menutoggle::after {
        transform: rotate(315deg);
    }
}

.container {
    width: 80%;
    position: relative;
    left: 10%;
    top: 12.5%;
}

.container h1 {
    color: #338D7D;
    font-size: 35px;
    font-weight: 400;
    position: relative;
    font-family: Kumar One;
    cursor: default;
    margin-bottom: 10px;
}

.container-in {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.container-in::-webkit-scrollbar {
    width: 6px;
}

.container-in::-webkit-scrollbar-thumb {
    background-color: #d9d9d900;
}

.container-in::-webkit-scrollbar-track {
    background-color: transparent;
}

.container-in {
    scrollbar-color: transparent;
    scrollbar-width: thin;
    scroll-margin-block-end: 10px;
    background: #00000000;
    width: 100%;
    height: 100%;
    position: relative;
}

.card {
    width: 240px;
    height: 300px;
    background-color: white;
    border-radius: 16px;
    margin: 10px;
    box-shadow: 4px 3px 11px 3px rgba(0, 0, 0, 0.25);
    overflow: auto;
    scrollbar-color: transparent;
    scrollbar-width: thin;
    scroll-margin-block-end: 0;
}

.card::-webkit-scrollbar {
    width: 0;
}

.card::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.card::-webkit-scrollbar-track {
    background-color: transparent;
}

.card h1 {
    font-size: 25px;
    position: relative;
    margin-left: 10%;
    margin-top: 10%;
    color: black;
    font-family: sans-serif;
    font-weight: 700;
}

.card h2 {
    font-size: 15px;
    position: relative;
    margin-left: 10%;
    color: #338D7D;
    font-family: Kumar One;
    font-weight: 100;
    max-width: 80%;
}

.card h3 {
    font-size: 14px;
    position: relative;
    margin-left: 10%;
    color: #060707;
    font-family: sans-serif;
    text-align: justify;
    font-weight: 100;
    max-width: 80%;
}

.card-img {
    height: 50%;
    margin-bottom: 20px;
    border-radius: 16px 16px 0 0;
    background-size: cover;
    background-position: center;
}

@media (max-width:650px) {
    .container-in {
        justify-content: center;
    }
}

.img-1 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/91/Lelaki_dengan_gitar_kecil.jpg');
}

.img-2 {
    background-image: url('https://media.glamourmagazine.co.uk/photos/6138939de2e190b1f7b261b2/16:9/w_2560%2Cc_limit/gettyimages-1153551851_sf.jpg');
}

.img-3 {
    background-image: url('https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt12dbddde5342ce4c/648866ff21a8556da61fa167/GOAL_-_Blank_WEB_-_Facebook_-_2023-06-13T135350.847.png?auto=webp&format=pjpg&width=3840&quality=60/penghuni-placeholder.jpg');
}

.img-4 {
    background-image: url('https://media.suara.com/pictures/970x544/2021/03/20/28688-teuku-wisnu.jpg');
}

.img-5 {
    background-image: url('https://asset-2.tstatic.net/tribunnewswiki/foto/bank/images/Donny-Michael-421.jpg');
}

.img-6 {
    background-image: url('https://img.okezone.com/content/2023/07/31/33/2855168/rony-idol-ungkap-keinginan-berduet-dengan-lyodra-dan-dewa-19-1FWLjQY4AE.jpg');
}

.img-7 {
    background-image: url('https://awsimages.detik.net.id/community/media/visual/2021/01/18/ariel-noah_43.png?w=1200');
}

.img-8 {
    background-image: url('https://blue.kumparan.com/image/upload/fl_progressive,fl_lossy,c_fill,q_auto:best,w_640/v1524825502/hjkmmemcdzvhem4zdrlx.jpg');
}

.img-9 {
    background-image: url('https://awsimages.detik.net.id/community/media/visual/2016/09/21/1b4deba3-e842-4b99-92fb-717e711d01ca.jpg?w=600&q=90');
}

.img-10 {
    background-image: url('https://asset.kompas.com/crops/aepSC53hn1SoPs-SfhCr_fY-MX0=/18x11:700x465/750x500/data/photo/2019/08/15/5d54c34d9e925.png');
}

.img-11 {
    background-image: url('https://asset-2.tstatic.net/batam/foto/bank/images/adipati-dolken_20180405_072034.jpg');
}

.img-12 {
    background-image: url('https://asset-a.grid.id/crop/0x0:0x0/x/photo/2018/12/28/277541197.jpg');
}

.img-13 {
    background-image: url(../img/20221030_010522.jpg);
}

.img-14 {
    background-image: url('https://shopee.co.id/inspirasi-shopee/wp-content/uploads/2018/11/Rizky-Febrian-2-1024x640.jpg');
}

.img-15 {
    background-image: url(../img/HAIKALPHOTO.jpg);
}

.img-16 {
    background-image: url('https://www.pegipegi.com/travel/wp-content/uploads/2017/08/http-2F2Fhypebeast.com2Fimage2F20172F052Frich-chigga-internet-meme-interview-video-0-450x270.jpg');
}

.img-17 {
    background-image: url('https://www.goodnewsfromindonesia.id/uploads/post/large-wregas-bhanuteja-1-1024x677-f1bcfe558357658bb02001b058576fdf.jpg');
}

.img-18 {
    background-image: url(../img/20221030_010649.jpg);
}

.img-19 {
    background-image: url('https://www.pikiranmerdeka.co/wp-content/uploads/2020/12/WhatsApp-Image-2020-12-13-at-01.10.51.jpeg');
}

.img-20 {

    background-image: url(../img/Screenshot\ 2023-11-13\ 233141.png);
}

.tambah-penghuni {
    display:inline-flex;
    width: auto;
    padding: 15px;
    background-color: #338D7D;
    border-radius: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1;
    align-items: center;
}

.tambah-penghuni:hover {
    background-color: #064c3f;
    cursor: default;
}

.tambah-penghuni p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.tambah-penghuni img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}