* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.container {
    height: 100%;
    width: 100%;
    background-image: url("/IMKProject/img/luke-van-zyl-koH7IVuwRLw-unsplash.jpg");
    background-size: cover;
    background-position: center bottom;
    z-index: 2;
}


header {
    position: absolute;
    width: 100%;
    min-height: 66px;
    background: #338D7D;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Added this line */
    z-index: 1;

}



header ul {
    position: relative;

}

header ul li {
    position: relative;
    list-style: none;
    display: inline-block;
    /* Changed from float: left to display: inline-block */

}

header ul li a {
    color: #fff;
    font-size: 20px;
    padding: 25px 30px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;

}

header ul li a:hover {
    background: #064c3f;
}

header ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #338D7D;
    display: none;
}

header ul li:hover>ul {
    display: block;
}

header ul li ul li {
    position: relative;
    width: 100%;
}

.dropdownmenu {
    display: none;
}

header ul li ul li ul {
    top: 0;
    left: 200px;
}

.show,
input {
    display: none;
}


.logout {
    width: 40px;
    height: 40px;
    margin-left: 400px;
    cursor: pointer;
}

.logout img {
    float: right;
    width: 100%;
    height: 100%;

}


@media(max-width: 1000px) {
    header {
        padding: 10px 20px;
    }

    header nav {
        position: absolute;
        width: 100%;
        top: 66px;
        left: 0;
        background: #338D7D;
        display: none;
    }

    header.active nav {
        display: inline;
    }

    header nav ul li {
        width: 100%;
    }

    header nav ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    header ul li ul li ul {
        top: 0;
        left: 0;
    }

    nav ul li {
        display: block;
        width: 100%;
    }

    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul {
        float: none;
        border-top: none;
        position: static;
        opacity: 1;
        visibility: visible;
        display: none;
    }

    header nav ul li:hover ul {
        display: none;
    }

    nav ul li a:hover {
        box-shadow: none;
    }

    .show {
        display: block;
        color: #fff;
        font-size: 20px;
        padding: 25px 30px;
        cursor: pointer;


    }

    .show:hover {
        background: #064c3f;
    }

    .show+a {
        display: none;
    }

    [id^=btn]:checked+ul {
        display: block;
    }


    .menutoggle {
        position: relative;
        width: 40px;
        height: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menutoggle::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        transform: translateY(-12px);
        box-shadow: 0 12px #fff;
    }

    .menutoggle::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        transform: translateY(12px);
    }

    header.active .menutoggle::before {
        transform: rotate(45deg);
        box-shadow: 0 0 #fff;
    }

    header.active .menutoggle::after {
        transform: rotate(315deg);
    }

    html,
    body {
        height: 100%;
        margin: 0;
    }

    header {
        padding: 10px 20px;
    }

    header nav {
        position: absolute;
        width: 100%;
        top: 66px;
        left: 0;
        background: #338D7D;
        display: none;
    }

    header.active nav {
        display: inline;
    }

    header nav ul li {
        width: 100%;
    }

    header nav ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    header ul li ul li ul {
        top: 0;
        left: 0;
    }

    nav ul li {
        display: block;
        width: 100%;
    }

    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul {
        float: none;
        border-top: none;
        position: static;
        opacity: 1;
        visibility: visible;
        display: none;
    }

    header nav ul li:hover ul {
        display: none;
    }

    nav ul li a:hover {
        box-shadow: none;
    }

    .show {
        display: block;
        color: #fff;
        font-size: 20px;
        padding: 25px 30px;
        cursor: pointer;
    }

    .show:hover {
        background: #064c3f;
    }

    .show+a {
        display: none;
    }

    [id^=btn]:checked+ul {
        display: block;
    }


    .menutoggle {
        position: relative;
        width: 40px;
        height: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menutoggle::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        transform: translateY(-12px);
        box-shadow: 0 12px #fff;
    }

    .menutoggle::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        transform: translateY(12px);
    }

    header.active .menutoggle::before {
        transform: rotate(45deg);
        box-shadow: 0 0 #fff;
    }

    header.active .menutoggle::after {
        transform: rotate(315deg);
    }

}

.header1 {
    color: #338D7D;
    font-size: 35px;
    font-weight: 400;
    position: relative;
    top: 120px;
    left: 7.5%;
    font-family: Kumar One;
}

@media (max-width: 1000px) {
    .header1 {
        left: 15%;
    }
}

.textbox {
    color: #338D7D;
    font-size: 24px;
    font-family: Scope One;
    font-weight: 400;
    padding: 40px;
    width: 85%;
    height: 65%;
    background: #D9D9D9;
    border-radius: 50px;
    position: absolute;
    top: 200px;
    left: 7.5%;
    padding: 20px;
}

.textbox-in::-webkit-scrollbar {
    width: 6px;
}

.textbox-in::-webkit-scrollbar-thumb {
    background-color: #d9d9d900;
}

.textbox-in::-webkit-scrollbar-track {
    background-color: transparent;
}

.textbox-in {
    overflow-y: auto;
    scrollbar-color: transparent;
    scrollbar-width: thin;
    scroll-margin-block-end: 10px;
    background: #D9D9D9;
    width: 90%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 5%;
}